			<div class="col-md-3">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">Floors</div>				
						<ul class="list-group">
							<li class="list-group-item" data-ng-class="{true:'active',false:''}[floor.name == '1st floor']" data-ng-repeat="floor in elevation.floors">
								<span class="glyphicon" data-ng-class="{true:'glyphicon-check',false:'glyphicon-unchecked'}[floor.name == '1st floor']"></span> {{floor.name}}</li>
						</ul>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">Options</div>				
						<ul class="list-group">
							<li class="list-group-item" data-ng-repeat="option in elevation.options">{{option.name}}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div data-ifp-SVG></div>
			</div>